.DS_Store
desktop.ini
.idea/
/node_modules
/app/data
/app/js/test.js
/api/data
api/db*
api/services/*.txt
/config/config-ldap.json
localmap_privatekey.pem
cert.pem
certificate_idp.crt
metadata_idp.xml
/api/debug.log
