/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* CSS Reset
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1
}
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-weight: normal;
}
ol,
ul {
    list-style: none
}

blockquote {
    quotes: none
}
blockquote:before,
blockquote:after {
    content: '';
    content: none;
}
/*button{
    background-color: white; 
    border: none;
    color: red;
    padding: 20px 40px;
    text-align: center;
    width: 50px;
    height: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 6px;
    border-radius: 50px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
button:hover {
    background-color: #4CAF50;
    color: white;
}*/
del {
    text-decoration: line-through
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a img {
    border: none
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Globals
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    /*background-color: #297aa3;*/
    background-color:white;
    color: #505050;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.8;
}
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
/*a:hover {
    color: #23688b
}*/
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#wrapper {
    width: 100%;
    margin: 0 auto;
}
#main {
    background-color: #fff;
    padding: 0px 0px;
}
.container {
    width: 100%;
    max-width: 1200px;
    min-width: 520px;
    /*margin: 0 auto;
    padding: 0 0px;*/
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Info Bar
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#info-bar {
    background-color: white;
    font-family: Arial;
    color :black;
}
span.all-tutorials,
span.back-to-tutorial {
    display: block;
    width: 50%;
}
span.all-tutorials {
    float: left;
    text-align: left;
}
span.back-to-tutorial {
    float: right;
    text-align: right;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Header
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255,230,0);
}
#title {
    text-align: center;
    height:40px;
    margin-top:10px;
}
#title h1 {
    color: black;
    font-size: 30px;
    margin-bottom: 10px;
}
#title h2 {
    color: #81c0df;
    font-size: 20px;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Footer
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
footer {
    /*padding: 30px 0;*/
    text-align: center;
    display:none;
}
footer span {
    color: #fff;
}
footer span a {
    color: #81c0df;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Extras
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Media Queries
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
@media all and (max-width: 600px) { 
  #info-bar a {
      display: block
  }
  span.all-tutorials,
  span.back-to-tutorial {
      width: 100%
  }
  span.all-tutorials,
  span.back-to-tutorial {
      float: none;
      text-align: center;
  }
  span.all-tutorials {
      border-bottom: solid 1px #23688b
  }
  #title h1 {
      font-size: 20px
  }
  #title h2 {
      font-size: 16px
  }
}

/*
* Submit buttons
*/
.submit{
    /*background-color: #246b8f;*/
    background-color:white;
    width: 100px;
    height: 38px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: initial;
    text-align: center;
    cursor: pointer;
}

/*
* Cancel buttons
*/
.cancel-button {
    background-color: #DEEBF7;
    width: 100px;
    height: 38px;
    border-radius: 6px;
    border:  1px solid #297aa3;
    color: #246b8f;
    font-weight: bold;
    font-size: initial;
    text-align: center;
    cursor: pointer;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  black;
    font-size: 22px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    black;
   font-size: 22px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    black;
   font-size: 22px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    black;
   font-size: 22px;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    black;
   font-size: 22px;
}