/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Map, Autocomplete, Nav bar, search, and nav
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#home, #location, #admin, #configurations {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    z-index: 20;
}
#home p, #location p, #admin p, #configurations p {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    cursor: pointer;
}
#home p {
    background: url("../img/home_final.png") 0px 0px;
    background-size: 40px 40px;
}
#location p {
    background: url("../img/loc01.png") 0px 0px;
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
#admin p {
    background: url("../img/lock-open.png") 0px 0px;
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
#configurations p {
    background: url("../img/mutliple-locations.png") 0px 0px;
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
#home {
    float: left;
}
#location, #admin, #configurations {
    display: inline-block;
}

#title {
    padding-bottom: 10px;
}

#navigation-bar {
    position: relative;
    height: 60px;
    padding-left: 60px;
}
#search {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-left: -60px;
}
#label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/search.png") -60px 0px;
    background-color: #3296c8;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
}
#input {
    position: absolute;
    top: 0;
    left: 60px;
    width: 1100px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 1100px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 18px;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: left 0;
    -moz-transition: left 0;
    -ms-transition: left 0;
    -o-transition: left 0;
    transition: left 0;
}

/*begin navigation chart*/
.navigation-chart {
    background-color: white;
}
#offices-chart {
    left: 4%;
    position: relative;
}
#offices-chart td {
    width: 350px;
}
.floor {
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
}
.floor p {
    margin-left: 25px;
}
#N0 a, .N0{
    padding-bottom: 20px;
    color: rgb(79, 93, 106);
}
#N1 a, .N1{
    padding-bottom: 20px;
    color: rgb(34, 86, 134);
}
#N2 a, .N2{
    padding-bottom: 20px;
    color: rgb(85, 151, 211);
}
#N3 a, .N3{
    padding-bottom: 20px;
    color: rgb(145, 188, 277);
}
#N4 a, .N4{
    padding-bottom: 20px;
    color: rgb(191, 216, 239);
}
#O2 a, .O2{
    padding-bottom: 20px;
    color: rgb(204, 31, 18);
}
#O3 a, .O3{
    padding-bottom: 20px;
    color: rgb(243, 87, 87);
}
#O4 a, .O4{
    padding-bottom: 20px;
    color: rgb(251, 158, 151);
}
.small-map {
    display: block;
    width: 350px;
    height: 192px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px 10px 10px;
    cursor: pointer; 
}
/*end navigation chart*/

.tooltip {
    opacity: 0;
    position: absolute;         
    text-align: center;         
    width: 400px;
    height: 40px;
    padding: 2px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20; 
}

#message {
    opacity: 0;
    position: absolute;         
    text-align: left;         
    width: 1160px;                    
    height: 138px;                   
    padding: 2px;               
    font: 20px sans-serif;      
    background: lightsteelblue; 
    border: 0px;               
    cursor: text; 
}
#message.focus {
    z-index: 50
}
#message.focus {
    opacity: .9;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#message .chartTitle{
    padding: 6px;
}
#message .content{
    width: 800px;
}
#message #tableID{
    opacity: .4;
}


#map-show {
    position: relative;
    z-index: 0;
}
#map-show #whole-map {
    border-left: 2px solid #297aa3;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;
}
#map-show .map {
    position: relative;
    width: 1024px;
    height: 768px;
}
#legend {
    width: 132px;
    vertical-align: middle;
    padding-left: 20px;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;
}
#map-show #legend h3 {
    padding-bottom: 10px;
}
#map-show #legend svg {
    display: inline;
}
#map-show #legend p {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
}
#map-show #legend #zoom {
    padding-top: 20px;
    position: absolute;
    display: inline-block;
    margin-left: 0px;
}



.left-side {
    float: left;
    background-color: white;
    width: 50%;
   /* min-width: 800px;*/
    height: 900px;
}

.right-side {
    float: right;
    background-color: white;
    width: 50%;
    height: 900px;
}
#step-one {
    color: #246b8f;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

#step-two{
    color: #6d6e71;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin: 20px;
}

.center {
    text-align: center;
}

input[readonly] {
    background-color: darkgrey;
}

.invisible {
    visibility: hidden;
}

#loc-form {
    padding: 15px 15px 15px 15px;
}
.disabled-field {
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 160px;
    text-align: center;
    margin: 2px 2px 2px 2px;
}

.left-side .small-map {
    width: 268px;
    height: 161px;
    cursor: default;
}

.left-side .floor p {
    font-size: 18px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}
.left-side .floor p :hover {
    text-decoration: underline;
}
.left-side .floor {
    font-size: 18px;
}

.right-side table {
    width: 100%;
}
.right-side #map-show .map {
    width: 100%;
    height: 500px;
}
.right-side #map-show #whole-map {
    border: 2px solid #297aa3;
}
.right-side #map-show {
    visibility: hidden;
}
.right-side #legend {
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;
    border-top: 2px solid #297aa3;
}

.container #action-title{
    padding-top: 22px;
}

.flash-err {
    background-color: antiquewhite;
    font-style: italic;
    text-align: center;
}
.flash-success {
    background-color: palegreen;
    font-style: italic;
    text-align: center;
}

.left-side .rects, .left-side #search, .right-side .rects, .right-side #search {
    padding-left: 100px;
}

.left-side #search {
    visibility: hidden;
}

#input #validator-search {
    margin-left: 72px;
    width: 300px;
}
.left-side #input, .right-side #input {
    height: 32px;
}
.left-side #label label, .right-side #label label {
    width: 30px;
    height: 30px;
    background: url("../img/search01.png") 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.left-group, .right-group {
    padding-left: 200px;
}

#level {
    margin-left: 9px;
}

.admin-list td {
    text-align: center;
    width: 225px;
    height: 40px;
    vertical-align: middle;
}
.empty {
    font-style: italic;
}

.admin-list label, .admin-list label  {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/plus.png") 0px 0px;
    background-size: 20px 20px;
    text-indent: -9999px;
    cursor: pointer;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
.list table tr:nth-child(odd) {
    background-color: #d7d7d7;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
 }

.admin #search {
    position: absolute;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: -16px;
    margin-left: -20px;
}

.admin #input #validator-search {
    margin-left: 0px;
    width: 175px;
}
.admin #input {
    height: 32px;
    width: 175px;
}
.admin #input input {
    font-size: 12px;
}
.admin #label label {
    width: 30px;
    height: 30px;
    background: url("../img/search01.png") 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;

}
.admin-list .disabled-field {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0;
}
.none {
    display: none;
}

.none form{
    margin-top: 6px;
}

#offices-chart tr {
    height: 35px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
