/*Skip to content
This repository
Search
Pull requests
Issues
Marketplace
Gist
 @MarjorieJ
 Sign out
 Watch 9
  Star 0
  Fork 2 KleeGroup/local-map
 Code  Issues 0  Pull requests 0  Projects 0  Wiki Insights 
Branch: master Find file Copy pathlocal-map/app/css/style.css
da7ae66  5 hours ago
@MarjorieJ MarjorieJ Add control account, control access to pages (admin, validators)
3 contributors @ZekunZh @mpsalvi @MarjorieJ
RawBlameHistory     
845 lines (796 sloc)  16.1 KB*/
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Map, Autocomplete, Nav bar, search, and nav
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#home, #location, #admin, #configurations, .modify, .print, .delete, .validate {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 0px;
    position: relative;
    z-index: 20;
}
#home p, #location p, #admin p, #configurations p, .modify p, .print p, .delete p, .validate p, #add p, .remove p {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    cursor: pointer;
}
#back-to-home #home {
    margin-right :5px;
    margin-left :5px;
    width :50px;
    border-right: 2px black solid
}
#back-to-home #admin {
    margin-right :5px;
    margin-left :5px;
    width :50px;
    border-right: 2px black solid
}
#back-to-home #configurations {
    margin-right :5px;
    margin-left :5px;
    width :50px;
    border-right: 2px black solid
}
#personal{
    position: absolute;
    top: 21px;
    right: 8%;
    display :inline;
     z-index: 200;
}
/*
#personal p,#personnal div{
    display :inline;
}*/
table #personal-desk {
    padding-right:10px;
}
#maj-button{
    color:white;
    z-index: 200;
  /*  position: absolute;
    left: 113.5%;*/
    font-size: 75%;
}
#maj-button-background{
    background: url("/img/rectangle-arrondi-1-copie.png");
    background-repeat: no-repeat;
    background-size :110px 25px;
    z-index: -1;
    vertical-align: middle;
    font-size: 75%;
    color:white;
    padding-top :5px;
    padding-bottom :7px;
    padding-right:15px;
    padding-left:15px;
    text-align:center;
    display:inline;
}


#button-localization{
    position: relative;
    text-align:center;
    /*margin-left: 27%;*/

    z-index: -1;
}
#maj-button-background:hover, #maj-button-background2:hover{
    cursor: pointer;
    text-decoration:underline;
    
}

#back-to-home{

    display :inline;
}
.title{
   /* position:relative;
    right:200px;
    
    z-index: 2000;*/
    display :inline;
}

#klee{
    font-weight: bold;
        /*display:inline;*/
        font-family: Arial;
        position: absolute;
        left: 44%;
        top: 2%;
        width: 190px;
        height: 20px;
        font-size: 28px;
        font-weight: 300;
        line-height: 0.71;
}
#klee:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.klee-title{
    margin-left: 35%; 
    display :inline;
}
.modify p {
    background: url("../img/eye.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.print p {
    background: url("../img/print.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.validate p {
    background: url("../img/ckeck.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.delete p {
    background: url("../img/delete.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
}
.remove p {
    background: url("../img/remove.png") 0px 0px;
    background-size: 10px;
    background-repeat: no-repeat;
}
#home {
    float: left;
}
#location, #admin, #configurations, #add, .inline{
    display: inline-block;

}
#add-title ,#noplace-toexcel{
    
    font-weight: bold;
    color: #246b8f;
    vertical-align: middle;
    font-size: 20px;
    margin-bottom:15px;
    margin-top:15px;
    text-align:center;
    cursor :pointer;

}



#navigation-bar {
    position: relative;
    height: 220px;
    /*padding-left: 60px;*/
}

#admin-bar, #conf-bar{
    height:auto;
    margin-bottom:15px;
}
#search ,#search-conf{
   /* width: 570px;
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-left: -60px;*/
}
#label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/search.png") -60px 0px;
    background-color: #3296c8;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
}
.bandeau-recherche{
    display: inline-block;
    bottom: 75px;
}

#index-left-photo{
    z-index:2;
}
#input input, #input-conf input {
    opacity: 1;
    display: inline;
    width: 550px;
    /*margin: 0;
    padding: 0 10px;*/
    border: none;
    border-bottom: 1px solid black;
    background-color: rgb(255, 230, 0);
    color: black;
    z-index: 5;
    font-size: 18px;
    overflow: hidden;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: left 0;
    -moz-transition: left 0;
    -ms-transition: left 0;
    -o-transition: left 0;
    transition: left 0;
}
#search-bar form, #search-bar-conf form{
    margin-bottom:20px;
    text-align:center;
}
.desk-maj{
    width:100px;
    font-weight:bold
}

/*begin navigation chart*/
.navigation-chart {
    background-color: white;
}
#offices-chart {
    left: 4%;
    position: relative;
}
#offices-chart td {
    width: 350px;
}
.floor {
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
}
.floor p {
    margin-left: 25px;
}
#N0 a, .N0{
    padding-bottom: 10px;
    width: auto;
    height: 50%;
    color: rgb(79, 93, 106);
    font-size:22px;
}
#N1 a, .N1{
    padding-bottom: 10px;
    color: rgb(34, 86, 134);
    font-size:22px;
}
#N2 a, .N2{
    padding-bottom: 10px;
    color: rgb(85, 151, 211);
    font-size:22px;
}
#N3 a, .N3{
    padding-bottom: 10px;
    color: rgb(145, 188, 277);
    font-size:22px;
}
#N4 a, .N4{
    padding-bottom: 10px;
    color: rgb(191, 216, 239);
    font-size:22px;
    
}
#O1 a, .O1{
    padding-bottom: 10px;
    color: rgb(204, 31, 18);
    font-size:22px;
}
#O2 a, .O2{
    padding-bottom: 10px;
    color: rgb(240, 5, 10);
    font-size:22px;
}
#O3 a, .O3{
    padding-bottom: 10px;
    color: rgb(243, 87, 87);
    font-size:22px;
}
#O4 a, .O4{
    padding-bottom: 10px;
    color: rgb(251, 158, 151);
    font-size:22px;
}
/*#N4-personnes, #O4-personnes, #N3-personnes, #O3-personnes, #N2-personnes, #O2-personnes, #N1-personnes, #N0-personnes*/.result{
    /*padding-bottom: 20px;*/
    color: rgb(220, 220, 220);
    cursor: pointer; 
    margin-left: 30px;
}


#Issy-les-Moulineaux:hover, #le_mans:hover, #Lyon:hover, #Bourgoin-Jailleux:hover, #Montpellier:hover, #sur_site_client:hover, 
#Issy-les-Moulineaux_result:hover, #le_mans_result:hover, #Lyon_result:hover, #Bourgoin-Jailleux_result:hover, #Montpellier_result:hover, #sur_site_client_result:hover
,#Issy_location:hover, #Mans_location:hover, #Lyon_location:hover,#Bourgoin_location:hover, #Montpellier_location:hover, #Client_location:hover{
    text-decoration:underline;
    color : blue;
    cursor :pointer;
}
#Issy_conf:hover, #Mans_conf:hover, #Lyon_conf:hover,#Bourgoin_conf:hover, #Montpellier_conf:hover, #client_conf:hover{
    text-decoration:underline;
    color : blue;
    cursor :pointer;
}

#noplace-personnes{
    color: rgb(220, 220, 220);
    margin-left: 30px;
}

#extern-result{
    width: 100px;
    height: 100px;
    position: relative;
    margin-left :12px;
    bottom: 130px;
    z-index: 200;
}

.small-map {
    display: block;
    width: 350px;
    height: 192px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px 10px 10px;
    cursor: pointer; 
}
/*end navigation chart*/

.tooltip {
    opacity: 0;        
    text-align: center;   
  /*  position :absolute;      */
    width: auto;
    height: auto;
    padding: 2px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20; 
}
.tooltip_ext {
    position:relative ;
    opacity: 0;        
    text-align: center;   
    width: auto;
    height: auto;
    padding: 6px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20;    
}
.tooltip_map_desk, .tooltip_map_desk_empty {
    opacity: 0;        
    text-align: center;   
    width: auto;
    height: auto;
    padding: 2px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20;    
}

.map-extern{
    position :relative;
    text-align: center;
   /* border-left: 2px solid #297aa3;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;*/
    width : 1037px;
    font-size:15px;
}
.noResultPeople{
    font-size: 17px;
    cursor: pointer;
}
.noResultPeople .noPlaceText {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: lightgrey;
    color: grey;
    z-index: 20;
    /*text-align: center;
    border-radius: 6px;
    padding: 5px 0;*/
}
.noResultPeople:hover .noPlaceText {
    visibility: visible;
}
#remove-search{
    font-weight: bold;
    color:red;
    font-size:15px;
    z-index: -1;
}

#message {
    opacity: 0;
    position: absolute;         
    text-align: left;         
    width: 1160px;                    
    height: 138px;                   
    padding: 2px;               
    font: 20px sans-serif;      
    background: lightsteelblue; 
    border: 0px;               
    cursor: text; 
}
#message.focus {
    z-index: 50
}
#message.focus {
    opacity: .9;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#message .chartTitle{
    padding: 6px;
}
#message .content{
    width: 800px;
}
#message #tableID{
    opacity: .4;
}
#navigation {
    z-index:0;
    position : absolute;
    margin-left :0px;
   /* border-left : 5px solid #297aa3;
    border-right : 5px solid #297aa3;
    border-bottom : 5px solid #297aa3;*/
    width: 220px;
    height : 620px;
    background-color: rgb(242, 242, 242);
    float: left;
}
#navigation #etages_withResult, #etages_withoutResult, #etages_location, #etages_conf, #etages_plot_conf{
    padding-top :20px;
    padding-left:20px;
    padding-right:20px;
    font-size : 15px;
    text-align: center;
    vertical-align: middle;
    color :black;
    line-height: 220%;
}

#personal-firstname, #personal-lastname{
    padding-right:7px;
}
.site, .siteResult, .siteLocation, .site-conf ,.site_plot_conf{
    padding-top :20px;
    padding-left:20px;
    padding-right:20px;
    font-size : 18px;
}

#navigation .list_etage:hover{
    text-decoration:underline;
    color : blue;
    cursor :pointer;
}
#navigation .ext{
    cursor :pointer;
    font-size :15px;
    font-style :italic;
}
#navigation a{
    text-align: center;
    padding-left:5px;
    position: relative;
    bottom: -10px;
    color:  #99ceff;
    font-size: 12px;
}
.info-recherche{
    left:0px;
    position :relative;
    line-height: 150%;
    text-align:center;
}
.info-recherche p{
    padding-top:20px;
    padding-bottom:20px;
    font-size:18px;
}

.info-bar{
    height: 58px;
    background-color: white;
}
#text-default{
    font-size:22px;
}

#title-default{
    font-size : 20px;
    font-weight: bold;
}

#map-info #map-name{
    /*position: absolute;
    right: 47%;
    padding : 10px;
    text-align :center;
    height :50px
    visibility: hidden;*/
    margin-top:40px;
}

#noplan{
    margin-top:70px;
    font-size:20px;
}
#noplan-logo{
    margin:50px;
}

#map-name h{
    position: relative;
}

#map-show{
    position : relative;
    margin-left :220px;
    z-index: 0;
}
#map-show #whole-map {
    position :relative;
    /*border-left: 2px solid #297aa3;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;*/
    height:430px;
    /*margin-left: 10%;*/

}
#map-info{
    margin-left: 5%;
    width:1300px;
    min-height:600px;
}
#map-show .map {
    position: relative;
    width: 1100px;
    height: 430px;
}
#whole-map {
    text-align: center;
}
#legend, #legend-modifmap {
    text-align: center;
    margin-left:25px;
    margin-top: 25px;
    
}
#legend td{
    vertical-align :middle;
    padding: 5px;
}

#legend-modifmap, #legend-modiffile {
    padding-top:50px;
    vertical-align :middle;
    padding-left:50px;

}
#legend-modifmap table, #legend-modiffile table{
    vertical-align :middle;
    border: 2px solid;
    width:150px;
}
#legend-modifmap table thead, #legend-modiffile table thead{
    background-color: darkgrey;
    border: 2px solid; 
}

#legend-modifmap table td,#legend-modifmap table th, #legend-modiffile table td,#legend-modiffile table th  {
    padding-top:10px;
    padding-bottom:10px;
}
#legend-modifmap table th{
    padding-right:5px;
    padding-left:5px;
}
#legend-modifmap tfoot{
    padding-top:20px;
    background-color: lightgrey
}
#legend-modiffile{
    padding-top:20px;
    text-align: center;
}

#legend-modifmap tfoot td{
    width:45px;
    border :2px solid;
}
#legend-modifmap .commande, #legend-modiffile .commande{
    padding-bottom :5px;
    font-size:13px;
    font-style:italic;
}

#legend-modifmap table img, #legend-modiffile table img  {
    cursor: pointer;
}

#legend-modifmap td #add-desk-horizontal:hover, #legend-modifmap td #add-desk-vertical:hover, #legend-modifmap td #rm-desk:hover, #legend-modifmap td #mode-admin:hover, #legend-modifmap td #quit-admin:hover, #legend-modifmap td #dl-button:hover, #legend-modifmap td #undo-map:hover, #legend-modifmap td #uploadButton:hover, #legend-modifmap td #add-img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/*#add-desk {
    width: 20px;
    height: 20px;;
}*/
#td-legend{
    vertical-align: middle;
}


#legend #zoom{
    padding-top:5px;
}

#fileUpload input#importInput{
    /*overflow: hidden;*/
    margin-top: 20px;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: black;
}
#fileUpload input#importInput:hover{
    color: black;
    background-color: lightgrey;

}
#icons{
    /*position: absolute;*/
    width: 140px;
    height: 128px;
    z-index: 20;
    background-color: white;
    overflow: scroll;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}
#icons img{
    border-style: solid;
    border-width: 2px;
}
#close-image{
    cursor: pointer;
}

/*#close-image:hover{
    transform:scale(2.0);
}*/

.map svg{width:100%;}

.left-side {
    float: left;
    background-color: white;
    width: 50%;
   /* min-width: 800px;*/
    height: 100%;
}

.right-side {
    float: right;
    background-color: white;
    width: 50%;
    height: 100%;
}
#localization_map{
    position : relative;
    left : -180px;
}
#search-back {
    position: relative;
    top: 70px;
}
#step-one {
    color: #246b8f;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

#step-two{
    color: #6d6e71;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin: 20px;
}

.center {
    text-align: center;
}

input[readonly] {
    background-color: darkgrey;
}

.invisible {
    visibility: hidden;
}

#loc-form {
    padding: 15px 15px 15px 15px;
}
.disabled-field {
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 160px;
    text-align: center;
    margin: 2px 2px 2px 2px;
}

.left-side .small-map {
    width: 268px;
    height: 161px;
    cursor: default;
}

.left-side .floor p {
    font-size: 18px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}
.left-side .floor p :hover {
    text-decoration: underline;
}
.left-side .floor {
    font-size: 18px;
}

.right-side table {
    width: 100%;
}
.right-side #map-show .map {
    width: 100%;
    height: 500px;
}
/*.right-side #map-show #whole-map {
    border: 2px solid #297aa3;
}*/
.right-side #map-show {
    visibility: hidden;
}
/*.right-side #legend {
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;
    border-top: 2px solid #297aa3;
}*/

.container #action-title{
    padding-top: 22px;
}

.flash-err {
    background-color: antiquewhite;
    font-style: italic;
    text-align: center;
}
.flash-success {
    background-color: palegreen;
    font-style: italic;
    text-align: center;
}

.left-side .rects, .left-side #search, .right-side .rects, .right-side #search {
    padding-left: 100px;
}

.left-side #search {
    visibility: hidden;
}

#input #validator-search {
    margin-left: 72px;
    width: 300px;
}
.left-side #input, .right-side #input {
    height: 32px;
}
.left-side #label label, .right-side #label label {
    width: 30px;
    height: 30px;
    background: url("../img/search01.png") 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.left-group, .right-group {
    padding-left: 10px;
}

#level {
    margin-left: 9px;
}

#cross-delete{
    position: relative;
    /*top: 138%;
    right: 420px;*/
    width: 40px;
    margin: 10px;

    z-index: 20;
    cursor:  pointer;
}

/*#cross-delete:hover{
    transform: scale(1.1);
}*/

.admin-list td {
    text-align: center;
    width: 290px;
    height: 30px;
    vertical-align: middle;
}
.table-pageadmin td {
    padding :4px;
    text-align: center;
    height: 30px;
    vertical-align: middle;
}


.empty {
    font-style: italic;
}
.button-stylax{
    height: auto;
    width: auto;
    min-width:100px;
    font-size: 75%;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    min-width:75px;
}
.list-validators{
    margin-left:25px;
    z-index:2;
}
#filter-val{
    font-size:16px;
}

.list-validators #filter-val{
    margin-top:30px;
    z-index:3;
    text-align:center;
    position:relative;
}
.list-validators #filter-val input, .list-validators #filter-val select{
    margin-right:10px;
    margin-left:10px;
}
.table-pageadmin thead{
    font-size : 20px;
    border: 3px solid black;
}

.table-pageadmin tr:nth-child(even){background-color: #f2f2f2}

.table-pageadmin{
    margin-top: 35px;
    position: relative;
    left: 20%;
    border : 3px solid black;
    width:1100px;
}
#table-admin img{
    cursor:pointer;
}
#popin-add-admin{
    background-color: grey;
    z-index: 50;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    height: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 40px;
    color: white;
    padding-bottom:40px;
    padding-right:15px;
    padding-left:15px;
}
#popin-add-admin h3{
    margin-bottom:10px;
}
#popin-add-admin button{
    margin-right:10px;
    margin-left:10px;
    margin-top:10px;
}

.list-admin #add-admin{
    position:relative;
    z-index:2;
    margin-top:20px;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    color:#246b8f;
    cursor:pointer;
}
.list-admin #add-admin p{
    margin-left:7px;
}

.list-validators label, .list-validators label  {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/plus.png") 0px 0px;
    background-size: 20px 20px;
    text-indent: -9999px;
    cursor: pointer;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
.list table tr:nth-child(odd), .conf table tr:nth-child(even){
    background-color: #d7d7d7;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
 }

.admin #search {
    position: absolute;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 6px;
    margin-left: -20px;
}

.admin #input #validator-search {
    margin-left: 0px;
    width: 175px;
}

.admin #input {
    height: 32px;
    width: 175px;
}
.admin #input input {
    font-size: 12px;
}
.admin #label label {
    width: 30px;
    height: 30px;
    background: url("../img/search01.png") 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;

}
.admin-list .disabled-field {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0;
}
.none {
    display: none;
}

.none form{
    margin-top: 6px;
}

#offices-chart tr {
    height: 35px;
}
.none .submit {
    font-style: normal;
    padding: 6px;
    width: 66px;
    height: 30px;
    display: inline-block;
    font-size: inherit;
    /*float: right;*/
}
#conf-cancel{
    position: absolute;
    right:20px;
}

#conf-list td {
    vertical-align: middle;
    /*text-align:center;*/
    padding-right:10px;
    padding-left:10px;
}

.conf .left-side {
    height: 100%;
}
.size100 {
    min-width: 100px;
}
.action {
  font-size: smaller;
}

#popin-add,   #newDesk-add{
    background-color: grey;
    z-index: 50;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 36%;
    height: 40%;
    border-radius: 80px;
    text-align: center;
    padding-top: 50px;
    color: white;
}

#popin-val{
    background-color: grey;
    z-index: 50;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 36%;
    height: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom:40px;
    color: white;
}
#popin-add input, #newDesk-add input {
    margin: 8px;
    z-index: 60;
}

#popin-add #popin-button, #newDesk-add #newDesk-button, #popin-val button{
    text-align:center;
}
#popin-add #add-conf,#popin-add #conf-cancel, #popin-val button, #newDesk-add #add-office, #newDesk-add #office-cancel, #popin-error #close-error, #popin-error  #val-del, #popin-error #close-conf{
    height: auto;
    font-size: 75%;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    display:inline;
    position:relative;
    margin-right:20px;
    margin-left:20px;
}

#newDesk-add button{
    width :75px;
}
#newDesk-add ::placeholder{
    font-size:13px;
    font-style:italic;
    color:#999999

}

#popin-val h3{
    margin-bottom:10px;
}
#popin-val #myrecap{
    overflow:auto;
    margin :20px;
    max-height:130px;
}
#popin-val a{
    color:white;
}
#popin-val button, #popin-error button{
    width:70px;
    font-size:13px;
}
#popin-val #description-conf{
    font-size: 13px;
    text-align:left;
    margin-left: 15px;
}
#popin-val table{
    width:100%;
    text-align:center;
    border : 2px solid black;
    font-size:13px;
}
#popin-val table td,#popin-val table th{
    padding:5px;
    border : 0.5px solid black;

}
#wrong-exp{
    visibility: hidden;
    color: #990000;
    font-size: 20px;
    font-weight: bold;
}
#add-title p{
    margin-left:8px;
}
.field, .disabled-field {
    color: #505050;
}
.left-labels {
    vertical-align: top;
    margin-top: 11px;
}


.people-rect {
    display: inline-block;
    margin-right: 4px;
}
.remove {
    display: inline-block;
    margin-right: 11px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.left-side #left #search {
    visibility: visible;
    float: none;
    padding-left: 0px;
    margin-left: 0px;
}
#left #input #validator-search {
    margin-left: 0px;
}
#left #input {
    left: 30px;
}
#plot-noplace, #plot-overDesk{
    z-index: 20;
}
#list-noplace, #list-overDesk{
    z-index: 300;
    overflow: scroll;
    padding : 5px;
    background-color: white;
    width :100%; 
    margin-top:40px;
    text-align: center;   
}
.all-conf-block table{
    border:2px solid black
}
.all-conf-block table thead{
    border:2px solid black;
    font-size:17px;
}
#plot-noplace,#plot-config, #plot-overDesk{
    margin-bottom:10px;
}
#noplace-block, #conf-block, #overDesk-block{
    margin-bottom:20px;
}
#list-noplace td{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:8px;
    padding-left:8px;
}

.block-title {
    border: 1px solid #297aa3;
    padding: 5px;
    width: 210px;
    text-align: center;
    font-weight: bold;
    color: #297aa3;
    margin-bottom: 25px;
    vertical-align: middle;
}
.block-search {
    vertical-align: middle;
    padding-top: 5px;
}
#table-conf{
    margin-left:220px;
}
#table-conf #column-map:nth-child(1){
    width:800px;
}
#map-conf {
    position : relative;
    z-index: 0;
    height:620px;
}
#map-conf #whole-map {
    width:100%;
    height: 100%;
    /*border-left: 2px solid #297aa3;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;*/

}
#filter-noplace div{ 
    max-height:150px;
    min-height:100px;
    overflow:auto;
    background-color:lightgray;
    width:1100px;
    padding:10px;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#filter-noplace{
    margin-top:40px;
    
}
#filter-noplace h3{
    margin:5px;
    text-align: center;
}

#map-conf #whole-map .map{
    width: 90%;
    height:75%;
}
#recap-conf{
    min-height: 620px;
    padding-top:25px;
}
#recap-conf table{
    min-width: 300px;
    margin:5px;
}
#recap-conf table th:nth-child(3){
    background-color: #3CB371;
}
#recap-conf table th:nth-child(4){
    background-color: 	#CD5C5C;
}
#recap-conf table td:nth-child(4):hover{
    cursor:pointer;
    transform:scale(1.05);
    text-decoration:underline;    
}
#recap-conf table .new-row{
    font-weight:bold;
    font-style:italic;
}
#recap-conf table .invalid-row{
    text-decoration: line-through;
    font-style:italic;
}

#recap-conf .delete-row{
    background: url("/img/crossDelete.png");
    background-repeat: no-repeat;
    background-size :35px 35px;
    background-position:center;
    cursor:pointer;
}

#recap-conf h3{
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
    padding:7px;
}
#recap-conf h3 img{
    visibility :hidden;
    margin-left:5px;
}
#recap-conf h3 img:hover{
    cursor: pointer;
    transform:scale(1.05);

}
#recap-conf p{
    font-style: italic;
    display:inline;
}

#recap-conf table th
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    border: 2px solid black;
    padding:5px;
}
#recap-conf table tbody td
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
    border: 1px solid black;
    padding:5px;
}
#recap-conf button{
    height: auto;
    width: 8%;
    font-size: 75%;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
    min-width:75px;
}

#popin-error{
    padding-bottom:40px;
    padding-top:40px;
    padding-left:10px;
    padding-right:10px;
    background-color: grey;
    z-index: 50;
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 37%;
    height: auto;
    border-radius: 80px;
    text-align: center;
    padding-top: 50px;
    color: white;
}
#popin-error table{
    margin:10px;
    overflow:auto;
}
#popin-error table td,#popin-error table th {
    border-collapse: collapse;
    border: 1px solid black;
    padding:5px;
}
#popin-error button{
    width:75px;
}

header #text-conf button{
    height: auto;
    width: 6%;
    font-size: 75%;
    border-radius: 20px;
    background-color: black;
    color: white;
    border: none;
}
header #text-conf button a{
    color:white;
}
#popin-error #conf-deletion{
    margin-bottom:10px;
}
#popin-error #conf-deletion p{
    font-size:13px;
    text-align:justify;
}
#table-to-fill .invalid-row td:nth-child(4):hover{
    cursor:not-allowed;
}

.left-side #left .rects{
    padding-left: 0px;
}
.title {
    padding: 5px;
    font-weight: bold;
    margin-bottom: 25px;
    vertical-align: middle;
}

#modify-conf .floor{
    font-size: 20px;
}

.block-search #input {
    width: 300px;
}
.people-mov {
    width: 230px;
    height: 28px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
}
.validate-button {
    display: inline-block;
}
.cancel-button {
    display: inline-block;
}
#error-admin, #error-conf{
    padding : 50px;
}


.conf {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.consistency td {
    width: 200px;
    text-align: center;
}
.consistency .small {
    width: 15px;
}
/* style du bouton de recherche */
#search-button,#search-button-conf {
   width: 40px;
   display:inline;
   z-index: 20;
}
#search-button:hover, #search-button-conf:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#left-photo{
    position:relative;
    width: 100%;
    height: auto;
    bottom: 40px;
    left: 50px;
    z-index: 1;
   /*float: left;*/
}
#right-photo{
    position:relative;
    width: 100%;
    height: auto;
    bottom: 25px;
    left: 200%;
    /*float: right;*/
    
    z-index: 1;
}
.all-conf-block{
    z-index:2;
    position:relative;
}
.table-header{
    width:100%;
    height:100%;
}

.table-header tbody tr td:nth-child(1),.table-header tbody tr td:nth-child(3){
    width:23%;
    max-height:220px;
}

.table-header tbody tr td:nth-child(2){
    width:54%;
    padding-right:30px;
    padding-left:30px;
    padding-top:30px;
    padding-bottom:20px;
    vertical-align:top
}

.table-header td{
    z-index:1;
}

.header-left-photo,.header-right-photo{
    height:280px;
}
.table-header .header-left-photo{
    position :relative;
    left:40px;
    top:-30px;
}
.table-header .header-right-photo{
    position :relative;
    right:40px;
    top:-20px;
    width:420px;
}
.table-header .header-middle{
    text-align:center;
    position:relative;
    left:30%;
}

/*
#table-conf-list #left-photo, #table-admin-list #left-photo{
    left:20px;
    width:300px;
}
#table-conf-list #right-photo, #table-admin-list #right-photo{
    width:300px;
}
#config-buttons, #admin-buttons{
    position: relative;
    left: 375px;
    top:-70px;
}*/

#config-buttons button, #admin-buttons button{
    margin: 10px;
    height: auto;
    width: 380px;;
    font-size: 120%;
    border-radius: 20px;
    background-color:black; 
    color: white;
    /*border: none;*/
    display:block;
}
#config-buttons button:hover, #admin-buttons button:hover{
    background-color:white; 
    color: black;
}
@supports (-webkit-appearance:none) {
    .bandeau-recherche {
        top: 50px;
    }

} 
@supports (-ms-ime-align:auto) {
  .bandeau-recherche {
        top: -75px;
    }

} 
@media screen and (min-width:0\0) {}
        #admin-buttons{
         /*   position:relative;

        top:50px;*/
        
    }


/* Buttons style */
#removeSearch{
    height: auto;
    width: 20%;
    font-size: 80%;
    border-radius: 20px;
    background-color:black; 
    color: white;
    border: none;
}
#removeSearch a{
    color: white;
}
#backHome{
    height: auto;
    width: 12%;
    font-size: 60%;
    border-radius: 20px;
    background-color:black; 
    color: white;
    border: none;
}
#backHome a{
    color: white;
}
#cancelMove, #validateMove{
    height: auto;
    min-width:75px;
    width: 8%;
    font-size: 60%;
    border-radius: 20px;
    background-color:black; 
    color: white;
    border: none;
}
#cancelMove a{
    color: white;
}

/* table admin page*/

#val-row{
    position:relative;
    width:300px;
    height:50px;    
}
#val-row #search{
    position:absolute;
    width:300px;
    height:50px;
    left:60px;    
}

#val-search{
    position:absolute;
    top:15px;
    left:0px;
    width: 30px;
    height: 30px;
}
#val-cancel-one,#val-cancel-two{
    position:absolute;
    top:0px;
    right:0px;
    cursor:pointer;
}
#val-input{
    position:absolute;
    top:15px;
    left:26px;

}
#val-valid{
    position:absolute;
    top:15px;
    left:206px;
}

#val-input #validator-search{
    font-size:13px;
    background :#e6f5ff;
    width:180px;
    height:30px;
}
#val-input ::placeholder, .list-admin #research ::placeholder { 
    font-size:15px;
    font-style:italic;
}
.list-admin #research{
    color:black;
    margin-bottom:40px;
    margin-top:30px;
}
.list-admin #research input{
    width:250px;
    height:40px;
}

#val-delete-one, #val-delete-two{
    cursor :pointer;
    padding-left :25px
}
#map-show #note-admin{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    max-width:1100px;
    height:60px;
    -webkit-column-fill: auto; /* Chrome, Safari, Opera */
    -moz-column-fill: auto; /* Firefox */
    column-fill: auto;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
/* style for autocomplete results */
.ui-autocomplete { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; max-height: 100px; overflow-y: auto; overflow-x: hidden; }
.ui-autocomplete-input { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }

/* for IE 6 which doesn't support max height*/
/* * html .ui-autocomplete {
    height: 100px;
  }*/
/*Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help*/