/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Map, Autocomplete, Nav bar, search, and nav
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
#home, #location, #admin, #configurations, .modify, .print, .delete, .validate {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    z-index: 20;
}
#home p, #location p, #admin p, #configurations p, .modify p, .print p, .delete p, .validate p, #add p, .remove p {
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    cursor: pointer;
}
#home p {
    background: url("../img/home_final.png") 0px 0px;
    background-size: 40px 40px;
}
#location p {
    background: url("../img/loc01.png") 0px 0px;
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
#admin p {
    background: url("../img/lock-open.png") 0px 0px;
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
#configurations p {
    background: url("../img/mutliple-locations.png") 0px 0px;
    background-size: 30px 40px;
    background-repeat: no-repeat;
}
#personal{
    color: white;
    width: 300px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.modify p {
    background: url("../img/eye.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
}
.print p {
    background: url("../img/print.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
}
.validate p {
    background: url("../img/ckeck.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
}
.delete p {
    background: url("../img/delete.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
}
.remove p {
    background: url("../img/remove.png") 0px 0px;
    background-size: 10px;
    background-repeat: no-repeat;
}
#add p {
    background: url("../img/plus.png") 0px 0px;
    background-size: 30px;
    background-repeat: no-repeat;
}
#home {
    float: left;
}
#location, #admin, #configurations, #add, .inline{
    display: inline-block;
}
#add-title {
    float: right;
    font-weight: bold;
    color: #246b8f;
    vertical-align: middle;
    font-size: 20px;
}
#title {
    padding-bottom: 10px;
}

#navigation-bar {
    position: relative;
    height: 60px;
    padding-left: 60px;
}
#search {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-left: -60px;
}
#label {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 20;
}
#label label {
    display: block;
    width: 60px;
    height: 60px;
    background: url("../img/search.png") -60px 0px;
    background-color: #3296c8;
    font-size: 0;
    color: rgba(0, 0, 0, 0);
    text-indent: -9999px;
}
#input {
    position: absolute;
    top: 0;
    left: 60px;
    width: 1100px;
    height: 60px;
    z-index: 5;
    overflow: hidden;
}
#input input {
    opacity: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 0px;
    width: 1100px;
    height: 100%;
    margin: 0;
    padding: 0 10px;
    border: none;
    background-color: white;
    color: black;
    font-size: 18px;
    -webkit-backface-visibility: none;
    -moz-backface-visibility: none;
    -ms-backface-visibility: none;
    backface-visibility: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: left 0;
    -moz-transition: left 0;
    -ms-transition: left 0;
    -o-transition: left 0;
    transition: left 0;
}

/*begin navigation chart*/
.navigation-chart {
    background-color: white;
}
#offices-chart {
    left: 4%;
    position: relative;
}
#offices-chart td {
    width: 350px;
}
.floor {
    font-size: 35px;
    font-weight: bold;
    vertical-align: middle;
}
.floor p {
    margin-left: 25px;
}
#N0 a, .N0{
    padding-bottom: 20px;
    color: rgb(79, 93, 106);
}
#N1 a, .N1{
    padding-bottom: 20px;
    color: rgb(34, 86, 134);
}
#N2 a, .N2{
    padding-bottom: 20px;
    color: rgb(85, 151, 211);
}
#N3 a, .N3{
    padding-bottom: 20px;
    color: rgb(145, 188, 277);
}
#N4 a, .N4{
    padding-bottom: 20px;
    color: rgb(191, 216, 239);
}
#O1 a, .O1{
    padding-bottom: 20px;
    color: rgb(204, 31, 18);
}
#O2 a, .O2{
    padding-bottom: 20px;
    color: rgb(240, 5, 10);
}
#O3 a, .O3{
    padding-bottom: 20px;
    color: rgb(243, 87, 87);
}
#O4 a, .O4{
    padding-bottom: 20px;
    color: rgb(251, 158, 151);
}
/*#N4-personnes, #O4-personnes, #N3-personnes, #O3-personnes, #N2-personnes, #O2-personnes, #N1-personnes, #N0-personnes*/.result{
    /*padding-bottom: 20px;*/
    color: rgb(220, 220, 220);
    cursor: pointer; 
    margin-left: 30px;
}

#noplace-personnes{
    color: rgb(220, 220, 220);
    margin-left: 30px;
}

#extern-result{
    width: 100px;
    height: 100px;
    position: relative;
    margin-left :12px;
    bottom: 130px;
    z-index: 200;
}

.small-map {
    display: block;
    width: 350px;
    height: 192px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px 10px 10px 10px;
    cursor: pointer; 
}
/*end navigation chart*/

.tooltip {
    opacity: 0;        
    text-align: center;   
  /*  position :absolute;      */
    width: auto;
    height: auto;
    padding: 2px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20; 
}
.tooltip_ext {
    position:relative ;
    opacity: 0;        
    text-align: center;   
    width: auto;
    height: auto;
    padding: 6px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20;    
}
.tooltip_map {
    opacity: 0;        
    text-align: center;   
    width: auto;
    height: auto;
    padding: 2px;               
    font: 15px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    cursor: text;
    z-index: 20;    
}

#message {
    opacity: 0;
    position: absolute;         
    text-align: left;         
    width: 1160px;                    
    height: 138px;                   
    padding: 2px;               
    font: 20px sans-serif;      
    background: lightsteelblue; 
    border: 0px;               
    cursor: text; 
}
#message.focus {
    z-index: 50
}
#message.focus {
    opacity: .9;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
#message .chartTitle{
    padding: 6px;
}
#message .content{
    width: 800px;
}
#message #tableID{
    opacity: .4;
}
#navigation {
    z-index:0;
    float : left;
    margin-right : 20px;
    border-left : 2px solid black;
    border-right : 2px solid black;
    border-bottom : 2px solid black;
    width: 220px;
    height : 100%;
    background-color: #add6eb;;
}
#navigation #etages_withResult, #etages_withoutResult{
    /*display :block;*/
    font-size : 25px;
    padding : 20px;
    text-align: center;
    color :black;
    line-height: 200%;
}

#navigation .list_etage:hover{
    text-decoration:underline;
    color : blue;
    cursor :pointer;
}
#navigation .ext{
    font-size:15px;
    text-decoration : italic;
}

/*
#navigation #N0_withResult:hover #N1_with:hover #eN2:hover #eN3:hover #eN4:hover #eO1:hover #eO2:hover{
    text-decoration:underline;
}*/

#map-show {
    position : relative;
    margin-left :170px;
    z-index: 0;
}
#map-show #whole-map {
    position :relative;
    border-left: 2px solid #297aa3;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;

}
#map-show .map {
    position: relative;
    width: 900px;
    height: 600px;
}
#legend {
    width: 132px;
    vertical-align: middle;
    padding-left: 12px;
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;
    height: auto;
}
#map-show #legend h3 {
    padding-bottom: 20px;
}
#map-show #legend svg {
    display: inline;
}
#map-show #legend p {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
}
#map-show #legend #zoom {
    padding-top: 15px;
    position: absolute;
    display: inline-block;
    margin-left: 0px;
}
#map-show #legend #change_localization {
    margin-top: 40px;
    position: absolute;
    display: inline-block;
    margin-bottom: 15px;
}

#map-show #legend #etage {
    color : rgb(85, 151, 211);
    font-size : 15px;
}

.left-side {
    float: left;
    background-color: white;
    width: 50%;
   /* min-width: 800px;*/
    height: 100%;
}

.right-side {
    float: right;
    background-color: white;
    width: 50%;
    height: 100%;
}
#search-back {
    position: relative;
    top: 70px;
}
#step-one {
    color: #246b8f;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 20px;
}

#step-two{
    color: #6d6e71;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin: 20px;
}

.center {
    text-align: center;
}

input[readonly] {
    background-color: darkgrey;
}

.invisible {
    visibility: hidden;
}

#loc-form {
    padding: 15px 15px 15px 15px;
}
.disabled-field {
    border-radius: 4px;
    border: none;
    height: 25px;
    width: 160px;
    text-align: center;
    margin: 2px 2px 2px 2px;
}

.left-side .small-map {
    width: 268px;
    height: 161px;
    cursor: default;
}

.left-side .floor p {
    font-size: 18px;
    margin-left: 0px;
    text-align: center;
    cursor: pointer;
}
.left-side .floor p :hover {
    text-decoration: underline;
}
.left-side .floor {
    font-size: 18px;
}

.right-side table {
    width: 100%;
}
.right-side #map-show .map {
    width: 100%;
    height: 500px;
}
.right-side #map-show #whole-map {
    border: 2px solid #297aa3;
}
.right-side #map-show {
    visibility: hidden;
}
.right-side #legend {
    border-right: 2px solid #297aa3;
    border-bottom: 2px solid #297aa3;
    border-top: 2px solid #297aa3;
}

.container #action-title{
    padding-top: 22px;
}

.flash-err {
    background-color: antiquewhite;
    font-style: italic;
    text-align: center;
}
.flash-success {
    background-color: palegreen;
    font-style: italic;
    text-align: center;
}

.left-side .rects, .left-side #search, .right-side .rects, .right-side #search {
    padding-left: 100px;
}

.left-side #search {
    visibility: hidden;
}

#input #validator-search {
    margin-left: 72px;
    width: 300px;
}
.left-side #input, .right-side #input {
    height: 32px;
}
.left-side #label label, .right-side #label label {
    width: 30px;
    height: 30px;
    background: url("../img/search01.png") 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
}

.left-group, .right-group {
    padding-left: 10px;
}

#level {
    margin-left: 9px;
}

#cross-delete{
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 20;
    cursor:  pointer;
}

#cross-delete:hover{
    transform: scale(1.1);
}

.admin-list td {
    text-align: center;
    width: 290px;
    height: 30px;
    vertical-align: middle;
}
.empty {
    font-style: italic;
}

.admin-list label, .admin-list label  {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/plus.png") 0px 0px;
    background-size: 20px 20px;
    text-indent: -9999px;
    cursor: pointer;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 10px;
}
.list table tr:nth-child(odd), .conf table tr:nth-child(even){
    background-color: #d7d7d7;
}

.list {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
 }

.admin #search {
    position: absolute;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 6px;
    margin-left: -20px;
}

.admin #input #validator-search {
    margin-left: 0px;
    width: 175px;
}
.admin #input {
    height: 32px;
    width: 175px;
}
.admin #input input {
    font-size: 12px;
}
.admin #label label {
    width: 30px;
    height: 30px;
    background: url("../img/search01.png") 0px 0px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 30px;

}
.admin-list .disabled-field {
    visibility: hidden;
    width: 0px;
    height: 0px;
    margin: 0;
}
.none {
    display: none;
}

.none form{
    margin-top: 6px;
}

#offices-chart tr {
    height: 35px;
}
.none .submit {
    font-style: normal;
    padding: 6px;
    width: 66px;
    height: 30px;
    display: inline-block;
    font-size: inherit;
    /*float: right;*/
}
#conf-list td {
    vertical-align: middle;
}
.conf .left-side {
    height: 100%;
}
.size100 {
    min-width: 100px;
}
.action {
  font-size: smaller;
}
#popin-add {
    background-color: rgba(50,150,200,0.9);
    z-index: 50;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 36%;
    height: 40%;
    border-radius: 80px;
    text-align: center;
    padding-top: 50px;
    color: white;
}
#popin-add input {
    margin: 8px;
    z-index: 60;
}
.field, .disabled-field {
    color: #505050;
}
.left-labels {
    vertical-align: top;
    margin-top: 11px;
}
#popin-add .submit{
    margin: auto;
    display: block;
}

.people-rect {
    display: inline-block;
    margin-right: 4px;
}
.remove {
    display: inline-block;
    margin-right: 11px;
    width: 10px;
    height: 10px;
    vertical-align: middle;
}

.left-side #left #search {
    visibility: visible;
    float: none;
    padding-left: 0px;
    margin-left: 0px;
}
#left #input #validator-search {
    margin-left: 0px;
}
#left #input {
    left: 30px;
}
.block-title {
    border: 1px solid #297aa3;
    padding: 5px;
    width: 210px;
    text-align: center;
    font-weight: bold;
    color: #297aa3;
    margin-bottom: 25px;
    vertical-align: middle;
}
.block-search {
    vertical-align: middle;
    padding-top: 5px;
}
.modif #left {
    padding-left: 75px;
}
.modif .left-side {
    height: 100%;
}
.left-side #left .rects{
    padding-left: 0px;
}
.title {
    padding: 5px;
    font-weight: bold;
    color: #297aa3;
    margin-bottom: 25px;
    vertical-align: middle;
}

#modify-conf .floor{
    font-size: 20px;
}

.block-search #input {
    width: 300px;
}
.people-mov {
    width: 230px;
    height: 28px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 3px;
}
.validate-button {
    display: inline-block;
}
.cancel-button {
    display: inline-block;
}
.conf {
    margin-left: auto;
    margin-right: auto;
    width: 950px;
}

.consistency td {
    width: 200px;
    text-align: center;
}
.consistency .small {
    width: 15px;
}
/* style du bouton de recherche */
#search-button {
   position: absolute;
   top: 15px;
   right: -100px;
   width: 100px;
}
.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }
/* style for autocomplete results */
.ui-autocomplete { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; max-height: 100px; overflow-y: auto; overflow-x: hidden; }
.ui-autocomplete-input { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }

/* for IE 6 which doesn't support max height*/
/* * html .ui-autocomplete {
    height: 100px;
  }*/