<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
</head>

<body>
<div id="wrapper">
    <div id="info-bar">
        <div id="back-to-home">
            <div id="home">
                <a href="/"><p id="home-label">search</p></a>
            </div>
            <div id="location">
                <a href="/localization"><p id="location-label">location</p></a>
            </div>
            <div id="configurations">
                <a href="/configurations"><p id="configurations-label">configurations</p></a>
            </div>
            <div id="admin">
                <a href="/admin"><p id="admin-label">administration</p></a>
            </div>
            <div id="personal">
                <table>
                    <tr>
                        <td id="personal-name"><%- myName %></td>
                        <td>___</td>
                        <td id="personal-desk"><%- myDesk %></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /#info-bar -->
    <header>
        <div id="title" class="container">
            <h1>Local Map</h1>
            <h2>Klee Group</h2>
        </div>

    </header>
    <!-- /header -->
    <div id="main" class="">
        <div>
            <% if (message) { %>
            <p class="flash-err"><%- message %></p>
            <% } %>
        </div>
        <div id="navigation-bar" class="container">
            <h2 id="action-title" class="center">Administration</h2>
        </div>
        <div class="list">
            <table>
                <thead>
                <tr class="table-content">
                    <th>
                        Société
                    </th>
                    <th>
                        Service / Pôle
                    </th>
                    <th>
                        Validateur 1
                    </th>
                    <th>
                        Validateur 2
                    </th>
                    <th class="none">

                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


<!-- //////////////////////////////////////////////
// js for plot map and search
////////////////////////////////////////////// -->
<script src="js/classie.js"></script>
<script src="js/toggle.js"></script>
<script src="js/admin.js"></script>
<script src="js/polyfill.js"></script>
<script src="js/autocomplete.js"></script>
<script type="text/javascript" src="js/buildAdminScreen.js"></script>


</body>
</html>