<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
</head>

<body>
<div id="wrapper">
    <div class="info-bar">
        <div id="back-to-home">
            <!-- <div id="home">
                <a href="/"><img id="home-label" src="/img/home.png" width="40px" height="40px" title="Home"/></a>
            </div> -->
            <div id="configurations">
                <a href="/configurations"><img id="configurations-label" src="/img/param2.png" width="40px" height="40px" title="Page validateurs"/></a>
            </div>
            <div id="admin">
                <a href="/admin"><img id="admin-label" src="/img/admin.png" width="40px" height="40px" title="Page administrateurs"/></a>
            </div>   
        </div>
        <!-- title -->
        <div class="title">
                <a href="/"><div id="klee"><b>KLEE</b> OFFICE</div></a>
        </div>
        <table id="personal">
            <thead><tr>
                <th id="personal-firstname"><%- myFirstName %></th>
                <th id="personal-lastname"><%- myLastName %></th>
            <!-- <p id="personal-site"></p> -->
                <th id="personal-desk"></th>
                <th class="desk-maj" id="maj-button-background">METTRE À JOUR</th>
            </tr>
            </table>
        </div>
        <!-- /#info-bar -->
        <header>
         <div id="navigation-bar" class="container">
           <table id="table-conf-list">
               <tr>
                   <td>
                        <img id="left-photo" src="../img/objet-dynamique-vectoriel-1.png">
                    </td>
                    <td >                        
                         <div id="config-buttons">                               
                            <button id="plot-config">Liste des configurations</button>
                            <button id="plot-noplace">Personnes sans bureau</button>
                            <button id="plot-overDesk">Bureaux sur-occupés</button>
                        </div>
                   </td>
                    <td>
                        <img id="right-photo" src="../img/calque-7.png">
                    </td>   
                </tr>
            </table> 
        </div>
    </header>
    
    <!-- /header -->


    <div id="main" class="">
        <div>
            <% if (message) { %>
            <p class="flash-success"><%- message %></p>
            <% } %>
        </div>
        
        <div id="error-conf"></div>
        <div class="two-columns conf container">
            <div class="all-conf-block">
                
                <div id="conf-block">
                    <div id="add-title">
                        <img src="/img/plus.png" width="30px"/><p class="inline">Ajouter une configuration</p>
                    </div>
                  <table id="conf-list" class="">
                    <thead class="table-content">
                    <tr class="">
                        <th class="action-one action">
                            Modifier
                        </th>
                        <th class="action-two action">
                            Imprimer
                        </th>
                        <th class="action-three action">
                            Valider
                        </th>
                        <th class="action-four action">
                            Supprimer
                        </th>
                        <th class="">
                            Nom
                        </th>
                        <th class="">
                            Auteur
                        </th>
                        <th class="">
                            Date de création
                        </th>
                        <th class="">
                            Nombre de bureaux concernés
                        </th>
                        <th class="">
                            Statut
                        </th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div id="noplace-block">
                   <div id="noplace-toexcel"><img src="/img/toexcel.png" width="30px"/>Exporter en excel</div>
                  <table id="list-noplace">
                    <thead class="table-noplace">
                    <tr class="">
                        <th class="no-place-title">
                            Nom
                        </th>
                        <th class="no-place-title">
                            Prénom
                        </th>
                        <th class="no-place-title">
                            Mail
                        </th>
                        <th class="no-place-title">
                            Département
                        </th>
                        <th class="no-place-title">
                            Dernière mise à jour
                        </th>
                        <th class="no-place-title">
                            Status
                        </th>
                    </tr>
                    </thead>
                  </table>
                </div>
                <div id="overDesk-block">
                    <table id="list-overDesk">
                        <thead class="table-overDesk">
                        <tr class="">
                            <th class="overDesk-title">
                                Bureau
                            </th>
                            <th class="overDesk-title">
                                Prénom
                            </th>
                            <th class="overDesk-title">
                                Nom
                            </th>
                        </tr>
                        </thead>
                    </table>
                   </div>

                
            </div>
        </div>
    </div>
     


</div>

<!-- //////////////////////////////////////////////
  // js
  ////////////////////////////////////////////// -->
<script src="js/classie.js"></script>
<!--script src="js/autocomplete.js"></script-->
<script src="js/polyfill.js"></script>
<script type="text/javascript" src="js/configurations.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/buildConfScreen.js" charset="UTF-8"></script>
<script type="text/javascript" src="js/controlAccount.js"></script>

</body>
</html>