<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
</head>

<body>
    <div class="info-bar">
        
        <!-- title -->
        <div class="title">
                <div id="klee"><b>KLEE</b> OFFICE</div>
        </div>
        
    </div>
        <!-- /#info-bar -->
    <header>
        <div id="navigation-bar">
            <table class="table-header" id="bar-admin">
                <tr>
                    <td>
                        <img class="header-left-photo" id="admin-left-photo" src="../img/objet-dynamique-vectoriel-1.png">                       
                    </td>
                    <td>
                        <div class="info-deco">
                            <p>Vous êtes déconnecté</p>
                            <a id="reco-button" href="/">Connexion</a>
                        </div>
                    </td>   
                </tr>
            </table> 
        </div>
    </header>

    
    <!-- //////////////////////////////////////////////
    // js for plot map and search
    ////////////////////////////////////////////// -->
    <script src="js/classie.js"></script>
    <script src="js/polyfill.js"></script>
</body>

</html>