<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
</head>

<body>
<div id="wrapper">
    <div class="info-bar">
        <div id="back-to-home">
            <!-- <div id="home">
                <a href="/"><img id="home-label" src="/img/home.png" width="40px" height="40px" title="Home"/></a>
            </div> -->
            <div id="configurations">
                <a href="/configurations"><img id="configurations-label" src="/img/param2.png" width="40px" height="40px" title="Page validateurs"/></a>
            </div>
            <div id="admin">
                <a href="/admin"><img id="admin-label" src="/img/admin.png" width="40px" height="40px" title="Page administrateurs"/></a>
            </div>   
        </div>
        <!-- title -->
        <div class="title">
                <a href="/"><div id="klee"><b>KLEE</b> OFFICE</div></a>
        </div>
        <table id="personal">
            <thead><tr>
                <th id="personal-firstname"><%- myFirstName %></th>
                <th id="personal-lastname"><%- myLastName %></th>
                <th id="personal-desk"></th>
                <th class="desk-maj" id="maj-button-background">METTRE À JOUR</th>
            </tr>
            </thead>
        </table>
    </div>
    <!-- /#info-bar -->
    <header>
        <div id="navigation-bar" class="container">
           <table>
               <tr>
                   <td>
                        <img id="left-photo" src="../img/objet-dynamique-vectoriel-1.png">
                    </td>
                    <td id="search-bar">
                        <form id="search" onsubmit="return false">
                            <div id="input">
                                <input class="bandeau-recherche" type="search" name="search-terms" id="search-terms" placeholder="Rechercher un collègue" onkeypress= "if (event.keyCode == 13) plotNumberOfPeople(nbPeopleByArea,dataSearchedPeople);">
                            </div> 
                        </form>
                        <img class="bandeau-recherche" id="search-button" src="../img/forma-1.png">
                   </td>
                    <!-- <td>
                        
                    </td> -->
                    <td>
                        <img id="right-photo" src="../img/calque-7.png">
                    </td>   
                </tr>
            </table> 
            <div class="info-recherche">
                <!-- <div id="title-default"></div>
                <br/> -->
                <p id="text-default"></p>
                <p class="desk-maj" id="maj-button-background2">METTRE À JOUR</p>
            </div>
        </div>
    </header>
    <!-- /header -->

    <div id="main">
        <div>
            <% if (message) { %>
            <p class="flash-success"><%- message %></p>
            <% } %>
        </div>
        <div class="container">
            <div id="navigation">
                <div id="menu-withoutresult">
                    <br/>
                    <h3 id="boursidiere" class="site">La Boursidière</h3>
                    <ul id="etages_withoutResult">
                        <li class="list_etage" id ="N0_withoutResult">Etage N0</li>
                        <li class="list_etage" id ="N1_withoutResult">Etage N1</li>
                        <li class="list_etage" id ="N2_withoutResult">Etage N2</li>                  
                        <li class="list_etage" id ="N3_withoutResult">Etage N3</li>                                         
                        <li class="list_etage" id ="N4_withoutResult">Etage N4</li>                    
                        <li class="list_etage" id ="O1_withoutResult">Etage O1</li>                                             
                        <li class="list_etage" id ="O2_withoutResult">Etage O2</li>                    
                        <li class="list_etage" id ="O3_withoutResult">Etage O3</li>                    
                        <li class="list_etage" id ="O4_withoutResult">Etage O4</li>                   
                    </ul>
                    <h3 id="Issy-les-Moulineaux" class="site">Issy-les-Moulineaux</h3>
                    <h3 id="le_mans" class="site">Le Mans</h3> 
                    <h3 id="Lyon" class="site">Lyon</h3>
                    <h3 id="Bourgoin-Jailleux" class="site">Bourgoin-Jailleux</h3>
                    <h3 id="Montpellier" class="site">Montpellier</h3> 
                    <h3 id="sur_site_client" class="site">Sur site client</h3>
                </div>
                <div id="menu-withresult">
                    <h3 id="boursidiere_result" class="siteResult">La Boursidière</h3>
                    <ul id="etages_withResult">
                        <li class="list_etage" id ="N0_withResult">Etage N0</li>
                        <li class="list_etage" id ="N1_withResult">Etage N1</li>
                        <li class="list_etage" id ="N2_withResult">Etage N2</li>                  
                        <li class="list_etage" id ="N3_withResult">Etage N3</li>                                         
                        <li class="list_etage" id ="N4_withResult">Etage N4</li>                    
                        <li class="list_etage" id ="O1_withResult">Etage O1</li>                                             
                        <li class="list_etage" id ="O2_withResult">Etage O2</li>                    
                        <li class="list_etage" id ="O3_withResult">Etage O3</li>                    
                        <li class="list_etage" id ="O4_withResult">Etage O4</li>                       
                    </ul>                                             
                    <h3 id="Issy-les-Moulineaux_result" class="siteResult">Issy-les-Moulineaux</h3>
                    <h3 id="le_mans_result" class="siteResult">Le Mans</h3> 
                    <h3 id="Lyon_result" class="siteResult">Lyon</h3>
                    <h3 id="Bourgoin-Jailleux_result" class="siteResult">Bourgoin-Jailleux</h3>
                    <h3 id="Montpellier_result" class="siteResult">Montpellier</h3> 
                    <h3 id="sur_site_client_result" class="siteResult">Sur site client</h3>   
                </div>  
                <div id="menu-newlocation">
                    <h3 id="boursidiere_location" class="siteLocation">La Boursidière</h3>
                    <ul id="etages_location">
                        <li class="list_etage" id ="N0_location">Etage N0</li>
                        <li class="list_etage" id ="N1_location">Etage N1</li>
                        <li class="list_etage" id ="N2_location">Etage N2</li>                  
                        <li class="list_etage" id ="N3_location">Etage N3</li>                                         
                        <li class="list_etage" id ="N4_location">Etage N4</li>                    
                        <li class="list_etage" id ="O1_location">Etage O1</li>                                             
                        <li class="list_etage" id ="O2_location">Etage O2</li>                    
                        <li class="list_etage" id ="O3_location">Etage O3</li>                    
                        <li class="list_etage" id ="O4_location">Etage O4</li>                       
                    </ul>                                             
                    <h3 id="Issy_location" class="siteLocation">Issy-les-Moulineaux</h3>
                    <h3 id="Mans_location" class="siteLocation">Le Mans</h3> 
                    <h3 id="Lyon_location" class="siteLocation">Lyon</h3>
                    <h3 id="Bourgoin_location" class="siteLocation">Bourgoin-Jailleux</h3>
                    <h3 id="Montpellier_location" class="siteLocation">Montpellier</h3> 
                    <h3 id="Client_location" class="siteLocation">Sur site client</h3>   
                </div>
                <a href="http://www.kleegroup.com" target="_blank">kleegroup.com</a>             
            </div>
            
            <!-- <div class="info-recherche">
                <p id="text-default"></p>
                <p class="desk-maj" id="maj-button-background2">METTRE À JOUR</p>
            </div> -->
            <!-- show main maps-->
            <div id="map-show">
                <div class="map-extern">
                </div>
                <table id="map-info">
                    <tr>
                        <td>
                            <div id="whole-map">
                                <div id= "map-name"></div>
                                <div class ="tooltip_map_desk_empty"></div>
                                <div class ="tooltip_map_desk"></div>
                                <svg class="map"></svg>
                            </div>
                        </td>
                        <td id="td-legend">
                            <table id="legend">
                                <tr>
                                    <td>
                                        <svg width="30" height="15">
                                            <rect width="30" height="15" style="fill:#ff9900"></rect>
                                        </svg>
                                    </td>
                                    <td>
                                        <svg width="30" height="15">
                                            <rect width="30" height="15" style="fill:#99ff99"></rect>
                                        </svg>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Occupé</td>
                                    <td>Libre</td>
                                </tr>
                                <tr>
                                    <td id="zoom" colspan="2">Zoomer avec la molette </td>
                               </tr>
                            </table>
                        </td>                        
                    </tr>  
                </table>
            </div>
            <!-- show main departments or info about people -->
            <div class="tooltip"></div>

            
            <!-- #main -->
            <footer>
                <div class="container">
                        <span>
                            <p id="copyright">&copy; 2016, Zekun ZHANG, Marie-Pierre SALVI, Klee Group<br>
                            &copy; 2017, Alexandre MORIN, Marjorie JULIO, Klee Group<br></p>
                        </span>
                </div>
            </footer>
            <!-- /footer -->
        </div>
    </div>
</div>
<!-- /#wrapper -->
<!--
//////////////////////////////////////////////
// js for plot map and search
////////////////////////////////////////////// -->
<script src="js/classie.js"></script>
<script src="js/toggle.js"></script>
<script src="js/globalMapControl.js"></script>
<script src="js/polyfill.js"></script>
<script type="text/javascript" src="js/clickAndPlot.js"></script>
<script type="text/javascript" src="js/searchMany.js"></script>
<script type="text/javascript" src="js/justPlotMap.js"></script>
<script type="text/javascript" src="js/changeLocalization.js"></script>
<script type="text/javascript" src="js/controlAccount.js"></script>
</body>

</html>
