<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
</head>

<body>
<div id="wrapper">
    <div id="info-bar">
        <div id="back-to-home">
            <div id="home">
                <a href="/"><p id="home-label" title="Home">search</p></a>
            </div>
            <!--div id="location">
                <a href="/localization"><p id="location-label" title="Changer ma localisation">location</p></a>
            </div-->
            <div id="configurations">
                <a href="/configurations"><p id="configurations-label" title="Liste des configurations">configurations</p></a>
            </div>
            <div id="admin">
                <a href="/admin"><p id="admin-label" title="Liste des validateurs">administration</p></a>
            </div>
        </div>
        <div id="personal">
                <table>
                    <tr>
                        <td id="personal-name"></td>
                        <td>___</td>
                        <td id="personal-desk"></td>
                    </tr>
                </table>
        </div>
    </div>
    <!-- /#info-bar -->
    <header>
        <div id="title" class="container">
            <h1>Local Map</h1>
            <h2>Klee Group</h2>
        </div>

        <div id="navigation-bar" class="container">
            <form id="search" onsubmit="return false">
                <div id="label">
                    <label for="search-terms" id="search-label">search</label>
                </div>
                <div id="input">
                    <input type="search" name="search-terms" id="search-terms" placeholder="Rechercher un collègue...">
                </div>
            </form>
            <!-- Bouton "Rechercher" -->
            <button id="search-button">Search</button>
            <div id="cross-delete">
                 <a href="/"><img src="../img/crossDelete.png" width="40" height="40"></a> 
            </div>
        </div>
    </header>
    <!-- /header -->

    <div id="main">
        <div>
            <% if (message) { %>
            <p class="flash-success"><%- message %></p>
            <% } %>
        </div>
        <div class="container">
            <div id="navigation">
                <ul id="etages_withResult">
                    <li class="list_etage" id ="N0_withResult">Etage N0</li>
                    <li class="list_etage" id ="N1_withResult">Etage N1</li>
                    <li class="list_etage" id ="N2_withResult">Etage N2</li>                  
                    <li class="list_etage" id ="N3_withResult">Etage N3</li>                                         
                    <li class="list_etage" id ="N4_withResult">Etage N4</li>                    
                    <li class="list_etage" id ="O1_withResult">Etage O1</li>                                             
                    <li class="list_etage" id ="O2_withResult">Etage O2</li>                    
                    <li class="list_etage" id ="O3_withResult">Etage O3</li>                    
                    <li class="list_etage" id ="O4_withResult">Etage O4</li>
                    <div class="tooltip_ext"></div>  
                    <div class ="ext"></div>                     
                </ul>                                             
                <ul id="etages_withoutResult">
                    <li class="list_etage" id ="N0_withoutResult">Etage N0</li>
                    <li class="list_etage" id ="N1_withoutResult">Etage N1</li>
                    <li class="list_etage" id ="N2_withoutResult">Etage N2</li>                  
                    <li class="list_etage" id ="N3_withoutResult">Etage N3</li>                                         
                    <li class="list_etage" id ="N4_withoutResult">Etage N4</li>                    
                    <li class="list_etage" id ="O1_withoutResult">Etage O1</li>                                             
                    <li class="list_etage" id ="O2_withoutResult">Etage O2</li>                    
                    <li class="list_etage" id ="O3_withoutResult">Etage O3</li>                    
                    <li class="list_etage" id ="O4_withoutResult">Etage O4</li>                   
                </ul> 
            </div>
            
            <div class="info-bar">
                <div id="title-default"></div>
                <br/>
                <div id="text-default"></div>
                <br/>
                <button id="button-localization" name="Mettre à jour mon bureau">Mettre à jour mon bureau</button>
            </div>
            <!-- show mini-maps -->
            <!--div id="navigation-chart">
                <br>
                <table id="offices-chart">
                    <thead class="floor">
                    <tr>
                        <th>
                            Normandie
                        </th>
                        <th>
                        </th>
                        <th>
                            Orléans
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <td>
                            <svg class="small-map" id="svg-N4"></svg>
                        </td>
                        <td class="floor">
                            <p id="N4"><a href="#!">Etage 4 (N 4)</a></p>
                            <button id="N4-personnes" class="result">- 0 -</button> 
                        </td>
                        <td>
                            <svg class="small-map" id="svg-O4"></svg>
                        </td>
                        <td class="floor">
                            <p id="O4"><a href="#!">Etage 4 (O 4)</a></p>
                            <button id="O4-personnes" class="result">- 0 -</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="small-map" id="svg-N3"></svg>
                        </td>
                        <td class="floor">
                            <p id="N3"><a href="#!">Etage 3 (N 3)</a></p>
                            <button id="N3-personnes" class="result">- 0 -</button>
                        </td>
                        <td>
                            <svg class="small-map" id="svg-O3"></svg>
                        </td>
                        <td class="floor">
                            <p id="O3"><a href="#!">Etage 3 (O 3)</a></p>
                            <button id="O3-personnes" class="result">- 0 -</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="small-map" id="svg-N2"></svg>
                        </td>
                        <td class="floor">
                            <p id="N2"><a href="#!">Etage 2 (N 2)</a></p>
                            <button id="N2-personnes" class="result">- 0 -</button>
                        </td>
                        <td>
                            <svg class="small-map" id="svg-O2"></svg>
                        </td>
                        <td class="floor">
                            <p id="O2"><a href="#!">Etage 2 (O 2)</a></p>
                            <button id="O2-personnes" class="result">- 0 -</button>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <svg class="small-map" id="svg-N1"></svg>
                        </td>
                        <td class="floor">
                            <p id="N1"><a href="#!">Etage 1 (N 1)</a></p>
                            <button id="N1-personnes" class="result">- 0 -</button>
                        </td>
                        <td>
                            <svg class="small-map" id="svg-O1"></svg>
                        </td>
                        <td class="floor">
                            <p id="O1"><a href="#!">Etage 1 (O 1)</a></p>
                            <button id="O1-personnes" class="result">- 0 -</button>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <svg class="small-map" id="svg-N0"></svg>
                        </td>
                        <td class="floor">
                            <p id="N0"><a href="#!">RDC<br/>(N 0)</a></p>
                            <button id="N0-personnes" class="result">- 0 -</button>
                        </td>
                        <td>
                        </td>
                        <td class="floor">
                            <p id="outside">Externe</p>
                            <p id="noplace-personnes">- 0 -</button>
                        </td>
                    </tr>
                </table>
            </div--> 
            <!-- show main maps-->
            <div id="map-show">
                <table>
                    <tr>
                        <div class="tooltip_ext_map"></div>
                        <td>
                            <div id="whole-map">
                                <div id="map-name"></div>
                                
                                <div class ="tooltip_map"></div>
                                <svg class="map"></svg>
                            </div>
                        </td>
                        <td id="legend">
                            <d id="etage">
                            </d>
                            <h3>
                                Légende
                            </h3>
                            <svg width="30" height="15">
                                <rect width="30" height="15" style="fill:#ff9900"></rect>
                            </svg>
                            <p>
                                Occupé
                            </p>
                            <br/>
                            <svg width="30" height="15">
                                <rect width="30" height="15" style="fill:#99ff99"></rect>
                            </svg>
                            <p>
                                Libre
                            </p>
                            <br/>
                            <p id="zoom">Zoomer avec <br/>la molette</p>
                            <br/>
                        </td>
                    </tr>
                </table>
            <div/>
            <!-- show main departments or info about people -->
            <div class="tooltip"></div>

            
            <!-- #main -->
            <footer>
                <div class="container">
                        <span>
                            &copy; 2016, Zekun ZHANG, Marie-Pierre SALVI, Klee Group<br>
                            <a href="http://www.kleegroup.com" target="_blank">kleegroup.com</a>
                        </span>
                </div>
            </footer>
            <!-- /footer -->
        </div>
    </div>
</div>
<!-- /#wrapper -->
<!--
//////////////////////////////////////////////
// js for plot map and search
////////////////////////////////////////////// -->
<script src="js/classie.js"></script>
<script src="js/toggle.js"></script>
<script src="js/globalMapControl.js"></script>
<script src="js/polyfill.js"></script>
<script type="text/javascript" src="js/clickAndPlot.js"></script>
<!-- <script type="text/javascript" src="js/autocomplete.js"></script> -->
<script type="text/javascript" src="js/searchMany.js"></script>
<script type="text/javascript" src="js/justPlotMap.js"></script>
<script type="text/javascript" src="js/changeLocalization.js"></script>
<script type="text/javascript" src="js/controlAccount.js"></script>
</body>

</html>
