<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
</head>

<body>
<div id="wrapper">
    <div class="info-bar">
        <div id="back-to-home">
            <!-- <div id="home">
                <a href="/"><img id="home-label" src="/img/home.png" width="40px" height="40px" title="Home"/></a>
            </div> -->
            <div id="configurations">
                <a href="/configurations"><img id="configurations-label" src="/img/param2.png" width="40px" height="40px" title="Page validateurs"/></a>
            </div>
            <div id="admin">
                <a href="/admin"><img id="admin-label" src="/img/admin.png" width="40px" height="40px" title="Page administrateurs"/></a>
            </div>   
        </div>
        <!-- title -->
        <div class="title">
                <a href="/"><div id="klee"><b>KLEE</b> OFFICE</div></a>
        </div>
        <table id="personal">
            <thead><tr>
                <th id="personal-firstname"><%- myFirstName %></th>
                <th id="personal-lastname"><%- myLastName %></th>
                <th id="personal-desk"></th>
                <th class="desk-maj" id="maj-button-background">METTRE À JOUR</th>
            </tr>
            </table>
        </div>

    </div>
    <!-- /#info-bar -->
    <header>
         <div id="navigation-bar" class="container">
           <table>
               <tr>
                   <td>
                        <img id="left-photo" src="../img/objet-dynamique-vectoriel-1.png">
                    </td>
                    <td id="search-bar-conf">
                        <form id="search-conf" onsubmit="return false">
                            <div id="input-conf">
                                <input class="bandeau-recherche" type="search" name="search-one-term" id="search-one-term" placeholder="Rechercher un collègue">
                            </div> 
                        </form>
                        <img class="bandeau-recherche" id="search-button-conf" src="../img/forma-1.png">
                   </td>
                    <!-- <td>
                        
                    </td> -->
                    <td>
                        <img id="right-photo" src="../img/calque-7.png">
                    </td>   
                </tr>
            </table> 
            <div class="info-recherche">
                <p id="text-conf"></p>
            </div>
        </div>
    </header>
    <!-- /header -->
    <div id="main" class="">
        <div>
            <% if (message) { %>
            <p class="flash-err"><%- message %></p>
            <% } %>
        </div>
        <div id="navigation">
                <div id="menu-withoutresult">
                    <br/>
                    <h3 id="boursidiere" class="site">La Boursidière</h3>
                    <ul id="etages_withoutResult">
                        <li class="list_etage" id ="N0_withoutResult">Etage N0</li>
                        <li class="list_etage" id ="N1_withoutResult">Etage N1</li>
                        <li class="list_etage" id ="N2_withoutResult">Etage N2</li>                  
                        <li class="list_etage" id ="N3_withoutResult">Etage N3</li>                                         
                        <li class="list_etage" id ="N4_withoutResult">Etage N4</li>                    
                        <li class="list_etage" id ="O1_withoutResult">Etage O1</li>                                             
                        <li class="list_etage" id ="O2_withoutResult">Etage O2</li>                    
                        <li class="list_etage" id ="O3_withoutResult">Etage O3</li>                    
                        <li class="list_etage" id ="O4_withoutResult">Etage O4</li>                   
                    </ul>
                    <h3 id="Issy-les-Moulineaux" class="site">Issy-les-Moulineaux</h3>
                    <h3 id="le_mans" class="site">Le Mans</h3> 
                    <h3 id="Lyon" class="site">Lyon</h3>
                    <h3 id="Bourgoin-Jailleux" class="site">Bourgoin-Jailleux</h3>
                    <h3 id="Montpellier" class="site">Montpellier</h3> 
                    <h3 id="sur_site_client" class="site">Sur site client</h3>
                </div>
                <div id="menu-conf">
                    <br/>
                    <h3 id="boursidiere" class="site-conf">La Boursidière</h3>
                    <ul id="etages_conf">
                        <li class="list_etage" id ="N0_conf">Etage N0</li>
                        <li class="list_etage" id ="N1_conf">Etage N1</li>
                        <li class="list_etage" id ="N2_conf">Etage N2</li>                  
                        <li class="list_etage" id ="N3_conf">Etage N3</li>                                         
                        <li class="list_etage" id ="N4_conf">Etage N4</li>                    
                        <li class="list_etage" id ="O1_conf">Etage O1</li>                                             
                        <li class="list_etage" id ="O2_conf">Etage O2</li>                    
                        <li class="list_etage" id ="O3_conf">Etage O3</li>                    
                        <li class="list_etage" id ="O4_conf">Etage O4</li>                   
                    </ul>
                    <h3 id="Issy_conf" class="site-conf">Issy-les-Moulineaux</h3>
                    <h3 id="Mans_conf" class="site-conf">Le Mans</h3> 
                    <h3 id="Lyon_conf" class="site-conf">Lyon</h3>
                    <h3 id="Bourgoin_conf" class="site-conf">Bourgoin-Jailleux</h3>
                    <h3 id="Montpellier_conf" class="site-conf">Montpellier</h3> 
                    <h3 id="client_conf" class="site-conf">Sur site client</h3>
                </div>
        </div>
        <table id="table-conf">
            <tr>
                <td>
                    <div id="map-conf">
                    <div id="whole-map">
                                <div id= "map-name"></div>
                                <div class ="tooltip_map_desk_empty"></div>
                                <div class ="tooltip_map_desk"></div>
                                <svg class="map"></svg>
                    </div>
                    </div>
                
                </td>
                <td>
                    <div id="recap-conf">
                    <h3>Mode configuration</h3>
                    <p>Nombre de personnes à déplacer : </p><p id="nb-people-new-conf">0</p>
                    <table id="table-to-fill">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Bureau actuel</th>
                                <th>Bureau cible</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                    </table>
                    <button id="val-conf">Valider</button>
                    <button id="can-conf">Annuler</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

<!-- //////////////////////////////////////////////
// js for plot map and search
////////////////////////////////////////////// -->
<script src="js/classie.js"></script>
<script src="js/toggle.js"></script>
<script src="js/admin.js"></script>
<script src="js/polyfill.js"></script>
<script src="js/globalMapControl.js"></script>
<script type="text/javascript" src="js/buildModifyScreen.js"></script>
<script type="text/javascript" src="js/clickAndPlot.js"></script>
<script type="text/javascript" src="js/controlAccount.js"></script>

</body>
</html>