<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- title and meta -->
    <!-- Forbid compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="A chart with the different floors of Klee and their main departments" />
    <title>Explore Offices</title>
    <!-- css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- compiled CSS for boostrap grid and responsive system (some changes in it)-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- js -->
    <script type="text/javascript" src="js/libraries/d3.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.autocomplete.min.js"></script>
</head>

<body>
<div id="wrapper">
    <div id="info-bar">
        <div id="back-to-home">
            <div id="home">
                <a href="/"><p id="home-label">search</p></a>
            </div>
            <div id="configurations">
                <a href="/configurations"><p id="configurations-label">configurations</p></a>
            </div>
            <div id="admin">
                <a href="/admin"><p id="admin-label">administration</p></a>
            </div>
            <div id="personal">
                <table>
                    <tr>
                        <td id="personal-firstName"><%- myFirstName %></td>
                        <td id="personal-lastName"><%- myLastName %></td>
                        <td id="personal-desk"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="personal">
                <table>
                    <tr>
                        <td id="personal-name"></td>
                        <td>___</td>
                        <td id="personal-desk"></td>
                    </tr>
                </table>
        </div>
    </div>
    <!-- /#info-bar -->
    <header>
        <div id="title" class="container">
            <h1>Local Map</h1>
            <h2>Klee Group</h2>
        </div>

    </header>
    <!-- /header -->
    <div id="main" class="">
        <div>
            <% if (message) { %>
            <p class="flash-err"><%- message %></p>
            <% } %>
        </div>
        <div id="navigation-bar" class="container">
        </div>
        <div class="two-columns row modif">

            <div class="left-side  col-md-6">
                <h2 id="step-one">1/2 : Sélectionner des personnes</h2>
                <br>
                <div class="left-group">
                    <div id="left" >
                        <h3 class="block-title inline">Par nom</h3>
                        <div class="inline block-search">
                            <form id="search" onsubmit="return false">
                                <div id="label">
                                    <label for="search-terms" id="search-label">search</label>
                                </div>
                                <div id="input">
                                    <input type="text" name="search-terms" id="validator-search" placeholder="Rechercher une personne...">
                                </div>
                            </form>
                        </div>

                        <br>
                        <h3 class="block-title">Par pôle</h3>
                        <div class="rects">
                        </div>
                        <h3 class="title">Personnes sélectionnées</h3>
                        <div class="people">
                        </div>
                    </div>
                </div>

            </div>
            <div class="right-side col-md-6">
                <h2 id="step-two">2/2 : Sélectionner un étage</h2>
                <br>
                <div class="right-group">
                    <table id="modify-conf">
                        <tr>
                            <td class="floor">
                                <p id="N0"><a>N 0</a></p>
                            </td>
                            <td class="floor">
                                <p id="N1"><a>N 1</a></p>
                            </td>
                            <td class="floor">
                                <p id="N2"><a>N 2</a></p>
                            </td>
                            <td class="floor">
                                <p id="N3"><a>N 3</a></p>
                            </td>
                            <td class="floor">
                                <p id="N4"><a>N 4</a></p>
                            </td>
                            <td class="floor">
                                <p id="O2"><a>O 2</a></p>
                            </td>
                            <td class="floor">
                                <p id="O3"><a>O 3</a></p>
                            </td>
                            <td class="floor">
                                <p id="O4"><a>O 4</a></p>
                            </td>
                        </tr>
                    </table>
                    <div id="map-show">
                        <table>
                            <tr>
                                <td>
                                    <div id="whole-map"><svg class="map"></svg></div>
                                </td>
                                <td id="legend">
                                    <h3>
                                        Légende
                                    </h3>
                                    <svg width="30" height="15">
                                        <rect width="30" height="15" style="fill:#ff9900" />
                                    </svg>
                                    <p>
                                        Occupé
                                    </p>
                                    <br/>
                                    <svg width="30" height="15">
                                        <rect width="30" height="15" style="fill:#99ff99" />
                                    </svg>
                                    <p>
                                        Libre
                                    </p>
                                    <br/>
                                    <p id="zoom">Zoomer avec <br/>la molette</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <button class="submit" id="save-movings">Valider</button>
                    <button class="cancel-button" id="cancel-movings">Annuler</button>
                </div>
            </div>

            <div class="center invisible" id="val-form">
                <br />
                <p id="person"></p>
            </div>
        </div>
    </div>
</div>


<!-- //////////////////////////////////////////////
// js for plot map and search
////////////////////////////////////////////// -->
<script src="js/classie.js"></script>
<script src="js/toggle.js"></script>
<script src="js/admin.js"></script>
<script src="js/polyfill.js"></script>
<script src="js/globalMapControl.js"></script>

<script src="js/autocomplete.js"></script>
<script type="text/javascript" src="js/buildModifyScreen.js"></script>
<script type="text/javascript" src="js/modifyFloor.js"></script>
<script type="text/javascript" src="js/controlAccount.js"></script>

</body>
</html>